* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --header-bg-color: linear-gradient(125.1deg, #265ED7 30.13%, #A4DAD2 94.13%), #A4DAD2;
  --secondary-color: #FF9700;
  --button-hover: #cf9f58;
  --blue-color: #072B77;
  --black-color: #000;
  --bg-color: #F0F8F6;
  --white-color: #fff;
  --placeholders: #BEBCBC;
  --footer: linear-gradient(111.58deg, #073BAC 26.34%, #265ED7 70.83%), #A4DAD2;
  --footer-text: #A4DAD2;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}


/* HEADER STARTS HERE */
.health-header {
  background: var(--header-bg-color);
}

.health-nav-toggler {
  border: none;

}

.health-nav-item {
  color: var(--white-color) !important;
  transition: all .3s ease !important;
}

.health-nav-item:hover {
  color: var(--secondary-color) !important;
}

.health-nav-item:active {
  color: var(--secondary-colorr) !important;

}

.active {
  color: var(--secondary-color);
}

.health-nav-toggler:focus {
  outline: none;
}

.hero {
  padding: .5rem 1rem;

}

.health-hero-title {
  color: var(--white-color);
  font-size: 2.25rem;
  font-weight: bold;
}

.hero-text {
  font-weight: normal;
  color: var(--white-color);
  font-size: 1.125rem;
  line-height: 22px;
  font-style: normal;
  width: 80%;
}

.all-btn {
  border-radius: 5px;
  color: var(--white-color);
  margin-top: 5%;
  width: 150px;
  height: 41.34px;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 17px;
  background: var(--secondary-color);
}

.header-btn {

  transition: all .3s ease;
}


.all-btn:hover {
  border: 1px solid var(--button-hover);
  color: var(--white-color);
  opacity: 0.8;
}

/* OVERVIEW SECTION */

.all-texts {
  padding: .5rem 1rem;
  text-align: center;
}

.all-title {
  color: var(--blue-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 44px;

}

.all-p {
  font-size: 0.875rem;
  color: var(--black-color);
  line-height: 122.4%;
  font-weight: normal;
}

.view-img {
  object-fit: contain;
  width: 100%;
  height: 24rem;
}

/* FEATURES SECTION */
.feature-section {
  background: var(--bg-color);
  padding: 1px;
}

.cards {
  text-align: center;
}

.icon-title {
  font-size: 1.125rem;
  color: var(--black-color);
  line-height: 29px;
  font-weight: normal;
}

.icon-p {
  font-size: 0.875rem;
}

/* SCREENSHOT SECTION */

.screen-row {
  margin: 0 auto;
}

.screen-img {
  width: 100%;
}

.app-img1 {
  margin-right: 11%;
  margin-left: 10%;
  margin-top: 3rem;
}

.app-img2 {
  margin-right: -9%;
  margin-left: -22%;

  z-index: 10;
}

.app-img3 {
  margin-top: 3rem;
}

/* TESTIMONIAL SECTION */
.user {
  margin: 0 auto;
}

.user-name {
  font-size: 1rem;
  color: var(--black-color);
  font-weight: 700;
}

.user-title {
  color: var(--secondary-color);
}

.user-details {
  text-align: center;
}

.after-icon {
  margin-left: 84%;
}

.review {
  background: var(--bg-color);
  padding: 1px;
}

/* DOWNLOAD SECTION */
.download-section {
  background-image: url(../images/download-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;

}

.download-img {
  display: none;
}

.dl-container {
  padding: .5rem 1rem;
}

.dl-title {
  color: var(--white-color);
  font-size: 2.20rem;
  font-weight: 600;
  line-height: 44px;
}

.dl-p {
  font-size: 0.875rem;
  color: var(--white-color);
  line-height: 122.4%;
  font-weight: normal;

}

.dl-row {
  text-align: center;
}

.app-btn:focus {
  box-shadow: none !important;
}

/* FORM SECTION */
.form-texts {
  padding: .5rem 1rem;
  text-align: center;
}

.form-title {
  color: var(--blue-color);
  font-size: 2.20rem;
  font-weight: 600;
  line-height: 44px;
}

.form_input {
  border: 1px solid var(--black-color);
  border-radius: 5px;
}

.form_input:focus {
  border-color: var(--black-color) !important;
  box-shadow: none;
}

.form-control:focus {
  color: var(--black-color) !important;
}

.form_input:active {
  border-color: var(--black-color);
}

.btn-form {
  transition: all .3s ease;
}

.btn-form:hover {
  border: 1px solid var(--button-hover);
  color: var(--white-color);
}

.form_input::placeholder,
textarea.form_input {
  font-size: 0.875rem;
  color: var(--placeholders);
}

/* NEWSLETTER*/
.newsletter-title {
  color: var(--footer-text);
  font-weight: 500;
  font-size: 1.5rem;
}

.newsletter-input {
  border: 2px solid var(--white-color);
  border-radius: 5px;
  background: none;
}

.newsletter-input::placeholder {
  font-size: 0.875rem;
}

.sub-link {
  text-align: center;

}

.sub-btn:focus {
  outline: none;
  box-shadow: none !important;
}

/* FOOTER SECTION */
.footer-section {
  background: var(--footer);
  padding: 1px;
}

.top-scroll {
  display: none;
}

.logo-img {
  text-align: center;
}

hr {
  border-top: 1px solid var(--white-color);
}

.connect {
  text-align: center;
}

.socials {
  justify-content: center;
}

.contactus {
  text-align: center;
  margin: 0 auto;
}

.copy-p {
  color: var(--white-color);
  font-size: 0.875rem;
  text-align: center;
  font-weight: 600;
  line-height: 16px;
}

.foot-addy {
  width: 80%;

}

.foot-title {
  color: var(--footer-text);
  font-size: 1.5rem;
}

.footer-text {
  color: var(--white-color);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 17px;
}

.media-icon {
  font-size: 1.5rem;
  color: var(--white-color);
}